@(id: Long, cropForm: Form[Crop], companies: Map[String, String])(implicit request: Http.Request, messages: play.i18n.Messages)
@import utils.GlobalConfigHelper
@import helper.{form, CSRF}
@import views.html.tags.forms.{simple_input, simple_select}

@main {

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 id="page-title">Edit Crop</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@routes.HomeController.index()">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="@routes.CropController.list()">Crops</a></li>
                        <li class="breadcrumb-item active">Edit Crop</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Crop Details</h3>
                        </div>

                        @form(routes.CropController.update(id)) {
                            <div class="card-body">
                                @CSRF.formField

                                @defining({
                                    import scala.jdk.CollectionConverters._
                                    companies.asInstanceOf[java.util.Map[String, String]].asScala.toSeq
                                }) { companiesSeq =>

                                    <div class="row">
                                        <div class="col-md-6">
                                            @simple_input(cropForm("name"), 
                                                "Crop Name", 
                                                icon = "fas fa-seedling",
                                                required = true)
                                        </div>
                                        <div class="col-md-6">
                                            @simple_select(
                                                cropForm("company.id"),
                                                "Company",
                                                companiesSeq,
                                                defaultText = "-- Choose a company --",
                                                icon = "fas fa-building",
                                                required = true
                                            )
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            @simple_input(cropForm("introduced"), 
                                                "Introduced Date", 
                                                inputType = "date",
                                                icon = "fas fa-calendar",
                                                help = Some("Date when this crop was first introduced"))
                                        </div>
                                        <div class="col-md-6">
                                            @simple_input(cropForm("discontinued"), 
                                                "Discontinued Date", 
                                                inputType = "date",
                                                icon = "fas fa-calendar",
                                                help = Some("Date when this crop was discontinued"))
                                        </div>
                                    </div>

                                }
                            </div>

                            <div class="card-footer">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-save mr-2"></i>Save Changes
                                </button>
                                <a href="@routes.CropController.list()" class="btn btn-secondary ml-2">
                                    <i class="fas fa-times mr-2"></i>Cancel
                                </a>
                            </div>
                        }
                    </div>
                </div>
                
                <!-- Delete form -->
                <div class="col-md-4">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Danger Zone</h3>
                        </div>
                        <div class="card-body">
                            <p>Deleting this crop will remove all associated data.</p>
                            @form(routes.CropController.delete(id)) {
                                @CSRF.formField
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this crop?')">
                                    <i class="fas fa-trash mr-2"></i>Delete Crop
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
