@(content: Html)(implicit gtm: utils.GoogleTagManager)

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Open Agriculture Diary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("/META-INF/resources/webjars", "bootstrap/5.3.0/css/bootstrap.min.css")">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("/public", "stylesheets/main.css")"/>
    @Html(gtm.getHeadScript.toString)
  </head>
  <body>
    @Html(gtm.getBodyScript.toString)

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="@routes.HomeController.index()">Open Agriculture Diary</a>
    </nav>

    <main role="main" class="container-fluid">
    @content
    </main>

    <script src="@routes.Assets.versioned("/META-INF/resources/webjars", "bootstrap/5.3.0/js/bootstrap.bundle.min.js")"></script>
  </body>
</html>